@import "tailwindcss";

:root {
  --primary: 59 59 109;    /* #3B3B6D */
  --secondary: 251 212 48; /* #FBD430 */

  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-primary: rgb(var(--primary));
  --color-secondary: rgb(var(--secondary));
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
